*.DS_Store
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc


02_Scripts/Utilities/Material_Status.csv
03_Charts/*
04_Documentation/Technical_Reference_Guide/FSRI_MaP_Tech_Guide.pdf
04_Documentation/User_Guide/FSRI_MaP_User_Guide.pdf

# Files produced from python scripts
*_Analysis_Data.csv
*_Notes.csv
*_Heats_of_Combustion.csv
*_Heats_of_Combustion.html
*_Emissivity.csv
*_HRRPUA_Table_*.html
*_HRRPUA_Table.csv
*_CO_Table.html
*_Soot_Table.html
*_Cp.html
*_Heat_Flow.html
*_Mass.html
*_MLR.html
*_Emissivity.html
*_Melting_Temp_Table.html
*_Melting_Temp_Table.csv
*_conductivity.html
*_specific_heat.html
*_Density_Summary.csv
*_conductivity.csv
*_specific_heat.csv
*_Absorption_Coefficient.html