*.DS_Store
03_Charts/*

# Files produced from python scripts
*_Analysis_Data.csv
*_Notes.csv
*_Heats_of_Combustion.csv
*_Emissivity.csv
*_HRRPUA_Table_25.html
*_HRRPUA_Table_50.html
*_HRRPUA_Table_75.html
*_HRRPUA_Table.csv
*_CO_Table.html
*_Soot_Table.html
*_Cp.html
*_Heat_Flow.html
*_Mass.html
*_MLR.html
*_Emissivity.html
*_Melting_Temp_Table.html
*_conductivity.html
*_specific_heat.html
*_Density_Summary.csv
*_conductivity.csv
*_specific_heat.csv